<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:image" content="https://github.com/become-a-solutions-architect/become-a-solutions-architect.github.io/blob/main/assets/img/besa-logo.png?raw=true" />
    <link rel="shortcut icon" type="image/png" href="/assets/img/icon.png">
{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1></h1>

        {% if site.logo %}
          <a href="https://become-a-solutions-architect.github.io/"><img src="{{site.logo | relative_url}}" alt="Logo" /></a>
          <ul class="links">
            <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSedQWgMZkwqH_aNtqHqpBSNeHCMlHLbIYCyBi81FAXX2vg0sQ/viewform">Register <strong> now!</strong></a></li>
            <br />
            
            <li><a href="https://become-a-solutions-architect.github.io/faq.html">See <strong>FAQ</strong></a></li>
            <br />
            
            <li><a href="https://become-a-solutions-architect.github.io/resources.html">Additional resources</a></li>
            <br />
            
            <li><a href="https://www.youtube.com/playlist?list=PLKb-zQGRRZsk1zKoAEIxTZdSo_YZNIsUD">Batch 01 Playlist</a></li>
            <br />
            
            <li><a href="https://www.youtube.com/playlist?list=PLKb-zQGRRZsk5tohvWOEiZh_B_7KzyRHC">Batch 02 Playlist</a></li>
            <br />

            <li><a href="https://www.youtube.com/watch?v=ttyN3CDJnSk&list=PLKb-zQGRRZsm5JRI_Q4xY8b1Duz1ANu8y">Batch 03 Playlist </a></li>
            <br />

            <li><a href="https://www.youtube.com/playlist?list=PLKb-zQGRRZsn1Nt82LjmuUaA8HM-2SxvR">Batch 04 Playlist </a></li>
            <br />
            
            <li><a href="https://www.youtube.com/playlist?list=PLKb-zQGRRZskC9p-XFP1cndBtz0MJG6nS">Batch 05 Playlist </a></li>
            <br />

            <li><a href="https://www.youtube.com/playlist?list=PLKb-zQGRRZsmFVeLB72JafNk9gCFkhNQx">Batch 06 Playlist </a></li>
            <br />
            
          </ul>
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="{{ site.github.zip_url }}">Download <strong>ZIP File</strong></a></li>
          <li><a href="{{ site.github.tar_url }}">Download <strong>TAR Ball</strong></a></li>
          <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
        </ul>
        {% endif %}
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This project is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
